@import "../../css/mixin.scss";
@import "../../css/partial.scss";

@include google-font('Raleway');
@include google-font('Nunito');


.footer{
    background-color: #181818;
    padding: 1rem;
  overflow: hidden;


.footer_content{

    .footer_myrage{
        color: white;
        width: 20rem;
        padding: 10px;
      @media screen and (max-width:700px) {
          width: 100%;
      }
        img{
            height: 1.5rem;
        margin: 10px 0;
        }
    }
 
    .footer_nav_sec{
        display: flex;
      gap: 7em;
        padding: 10px;

      @media screen and (max-width:700px) {
          gap: 0rem;
         width: 100%;
      }

          @media screen and (max-width:400px) {
          flex-wrap: wrap;
         
      }

      .nav_sec_1, .nav_sec_2, .nav_sec_3{
        
        h3{
            font-size: 1.3rem;
            color: #B3B6BB;
            font-family: 'Nunito';
        }

        ul{

            li{
                    padding-top: 15px;
                    white-space: nowrap;
          a{
              color: $text_color;
              padding-top: 10px;
              transition: 0.7s ;
              
          &:hover{
              color: $title_color
          }
          }

            }
        }
      }
    }
}

.line{
    position: relative;
    padding: 10px;
   border-bottom: .5px solid rgb(68, 68, 68);
}



}
