@import "../../css/mixin.scss";
@import "../../css/partial.scss";

@include google-font('Raleway');


.feature_article{
    background-color: $secondary-color;
}
.feature{
    background: $secondary-color;
    height: auto;
padding: 2rem 0;

    .feature_first_content{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        color: $text_color;
        font-family: $head_font;
        align-content: center;
        justify-items: center;
        padding: 40px;
        gap: 2rem;

    }

.feature_item{
        padding: 40px;
        transition: 0.2s ease-out;
        border-radius: 2rem;


    &:hover{
        background-color:#02ffe132;
        border-radius: 2rem;
        box-shadow: 0px 2px 19px 0px rgba(2,255,226,0.27);
-webkit-box-shadow: 0px 2px 19px 0px rgba(2,255,226,0.27);
-moz-box-shadow: 0px 2px 19px 0px rgba(2,255,226,0.27);

    }

    img{
        padding-bottom: 10px;
    }

    h2{
        font-size: 1.3rem;
        color: white;
    
    }
    p{
        font-size: 0.9rem;
        width: 250px;
        color: $text_color;
        @media screen and (max-width:600px) {
            width: 100%;
        }
    
    }
    
}




.feature_second_content{

    display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 2rem;
             @media screen and (max-width:600px) {
            
        }
    

.feature_item2{
    padding: 40px;
        border: 2px solid $title_color;
        border-radius: 2rem;
       color: $text_color;
        font-family: $head_font;
        transition: .1s;

        &:hover{
        border: 2px solid white;
        cursor: pointer;
            
        }

    .img_title{
        display: flex;
        align-items: center;
        gap: 5px;

        h2{
            font-size: 1.2rem;
            padding-top: 0.9rem;

        }

      
    
    }

        h2{
        font-size: 1.3rem;
        color: white;
    
    }
    p{
        font-size: 0.9rem;
        
        color: $text_color;
        @media screen and (max-width:600px) {
            width: 100%;
        }
    
    }
}

}
}


.schedule_demo{
    display: flex;
    flex-direction: column;
  align-items: center;
padding: 4rem 0;
    .header_sd{
        display: flex;
        gap: 10px;

        h2{
            color: $title_color;
            text-align: center;
        }

    
    
    }

        .text_sd{

            display: flex;
            flex-direction: column;
            span{
                color: $text_color;
                text-align: center;
                margin-top: 20px;
    margin-bottom: 20px;
    
            }
            a{
                text-align: center;
           
                button{
            @include home_button;
            border: none;
            outline: none;

                }
            }
        }
}

