// color

$button_color: #02ffe2;
$title_color:#02ffe2;
$text_color:#EBEDf1;
$pargraph_text: #B3B6BB;
$primary_color:#2D3438;
$secondary_color:#000;
$background_color1: #eafffd;


//font
$head_font:'Titillium Web', sans-serif;